<!DOCTYPE html>
<html lang="zh">

@include("/common/_header.html"){}

<body class="page-body boxed-container">
	<nav class="navbar horizontal-menu navbar-fixed-top">
		<div class="navbar-inner">
			<div class="navbar-brand">
				<a href="/" class="logo"> <img
					src="/static/img/logo2x2.png" width="100%" alt=""
					class="hidden-xs"> <img src="/static/img/logo2x.png"
					width="100%" alt="" class="visible-xs">
				</a>
			</div>
			<div class="navbar-mobile-clear"></div>
		</div>
	</nav>
	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		<div class="main-content" style="">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- 关于项目 -->
						<h4 class="text-gray">关于项目</h4>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<blockquote>
										<p>恭喜你发现彩蛋</p>
										</br>
										<p>这是一个导航网站,收入了大部分常用的网站，希望能够解决到你频繁收藏网站的烦恼！</p>
										<p>如果你有更好的网站或者提议请联系我！</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Footer -->
			<footer class="main-footer sticky footer-type-1 fixed">
				<div class="footer-inner">
					<div class="footer-text">
						&copy; 2023 <a href="/"><strong>润建股份有限公司</strong></a> design by <strong>行业数字化事业部</strong></a>
					</div>
					<div class="go-up">
						<a href="#" rel="go-top"> <i class="fa-angle-up"></i>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>